<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Crush it Able The most popular Admin Dashboard template and ui kit">
    <meta name="author" content="PuffinTheme the theme designer">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>@ViewData["Title"] - BlogApp </title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="~/authorpanel/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="~/authorpanel/assets/css/main.css" />
    <link rel="stylesheet" href="~/authorpanel/assets/css/theme1.css" id="stylesheet" />
</head>

<body class="font-opensans iconcolor dark-mode">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <!-- Start main html -->
    <div id="main_content">
        @await Html.PartialAsync("~/Views/Author/AuthorNavbarPartial.cshtml")
        <!-- start main body part-->
        <div class="page">

            <!-- start body header -->
            <div id="page_top" class="section-body">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left">
                            <h1 class="page-title">@ViewData["Title"]</h1>
                        </div>
                        <div class="right">
                            <div class="notification d-flex">
                                <button type="button" class="btn btn-facebook"><i
                                        class="fa fa-info-circle mr-2"></i>Need Help</button>
                                <button type="button" class="btn btn-facebook"><i class="fa fa-file-text mr-2"></i>Data
                                    export</button>
                                <button type="button" class="btn btn-facebook"><i class="fa fa-power-off mr-2"></i>Sign
                                    Out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and bootstrtap js -->
    <script src="~/authorpanel/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- start plugin js file  -->

    <!-- Start core js and page js -->
    <script src="~/authorpanel/assets/js/core.js"></script>
</body>

</html>