
@{
    ViewBag.title = "Chats ";
    ViewBag.ControllerName = "Chart";
    ViewBag.MethodName = "Index";
    ViewBag.ActionButtonTitle = "GO BACK";
    ViewBag.ActionUrl = "#";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Charts</h2>


<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" style="width: 800px; height: 600px">
            
        </div>
    </div>
</div>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" >
    
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart(){
           $(function() {
               $.ajax({
               type: 'GET',
               url: '/Admin/Chart/CategoryChart/',
               success: function (chartsdata){
                   
                   var result = chartsdata.jsonlist;
                   var data = new google.visualization.DataTable();
                   console.log(result);
                   data.addColumn('string', 'CategoryName');
                   data.addColumn('number', 'CategoryCount');
                   
                   for (var i=0 ; i<result.length; i++)
                   {
                           data.addRow([result[i].categoryName, result[i].categoryCount]);
                           console.log(result[i]);
                   }
                   
                   console.log(data);
                   var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                   
                   chart.draw(data, {
                       title:"Google Chart Core Projesi",
                       position: "top",
                       fontsize: "16px"
                   });
                   
               }
               });
           } ) ;
    }
    
    
</script>