<div class="col-0 col-xl-2">
    <div class="menu-function">
        <div id="search"><a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div>
        <div class="social-contact">
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i></a>

        </div>
    </div>
</div>