<div class="footer-contact">
    <h5 class="footer-link--title">İletişime Geç</h5>
    <div class="contact-method">
        <p>İstanbul / Türkiye</p>
        <p>contact@blogapp.com</p>
    </div>
    <div class="social-contact">
        <a class="icon-btn" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a class="icon-btn" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a class="icon-btn" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a class="icon-btn" href="https://dribbble.com/"><i class="fab fa-dribbble"></i></a>
    </div>
</div>