<div class="footer-links">
    <h5 class="footer-link--title">Hakkımızda</h5>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam minus quaerat, culpa ea incidunt similique
        obcaecati odio perferendis pariatur nihil placeat vitae sed adipisci voluptatem, impedit consequuntur corrupti
        eos ex?
    </p>
</div>