<div class="footer-links">
    <h5 class="footer-link--title">Hızlı Linkler</h5>
    <ul>
        <li><a class="footer-link" href="/Home">Anasayfa</a></li>
        <li><a class="footer-link" href="/Contact">İlteişim</a></li>
        <li><a class="footer-link" href="/Blog">Bloglar</a></li>
        <li><a class="footer-link" href="/About">Hakkımızda</a></li>
        <li><a class="footer-link" href="/Login">Giriş</a></li>
        <li><a class="footer-link" href="/Register">Kayıt Ol</a></li>
    </ul>
</div>