
@{
    ViewBag.Title = "Blog Title List Excel";
    ViewBag.ControllerName = "Blog";
    ViewBag.MethodName = "BlogTitleListExcel";
    ViewBag.ActionButtonTitle = "GO BACK";
    ViewBag.ActionUrl = "#";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Title List Excel</h2>

<a class="btn btn-primary" href="/Admin/Blog/ExportDynamicExcelBlogList"> Download </a>

