@{
    ViewData["Title"] = "Error1";
    Layout = "~/Views/Shared/_UILayout.cshtml";

}



<section class="error-404">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center"><img class="img-fluid" src="~/HTML/assets/images/404.png" alt="error image">
                <h1>Opps! Bu Sayfa Bulunamadı!</h1>
                <p>Üzgünüz, aradığınız sayfa mevcut değil, kaldırılmış veya adı değiştirilmiş.</p>
                <a href="/">Anasayfa'ya dön</a>
            </div>
        </div>
    </div>
</section><!--End contact-->
