@using BlogApp.Controllers

@model Class1

@{
    ViewBag.Title = "Add Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<h2>title</h2>


<form method="post">
    <lable> Çalışan Adı Soyadı </lable>
    <input type="text" asp-for="@Model.Name" class="form-control">
    <br>
    <button type="submit" class="btn btn-info"> Yeni Çalışan Ekle </button>
    
</form>