@using EntityLayer.Concrete
@model List<Message2>
<div role="tabpanel" class="tab-pane  " id="messages" aria-expanded="false">

    <a href="#" class="btn btn-primary btn-block mt-2 mb-4">Create New</a>
    <h3 class="font-weight-bolder">Chats</h3>
    <div class="input-group mt-3 mb-2">
        <input type="text" class="form-control search" placeholder="Search...">
    </div>
    <ul class="right_chat list-unstyled list">

        @foreach (var item in Model)
        {
            <li class="online">
                <a href="javascript:void(0);" class="media">
                    <img class="media-object" src="@item.SenderUser.AuthorImage" alt="">
                    <div class="media-body">
                        <span class="name">
                            @item.SenderUser.AuthorName sana bir mesaj gönderdi @*<span class="badge badge-primary badge-pill float-right">14</span>*@
                        </span>
                        <span class="message">@item.MessageDate.ToShortDateString()</span>
                        <span class="badge badge-outline status"></span>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>